// Variables
/*[Contents]
    0- Color 
        1- Default colors
        2- Option
    1- Grid 
        1- Grid breakpoints
        2- Grid containers
        3- Grid columns
    2- Components
    3- Fonts
    4- Tables
    5- Buttons
    6- Forms
    7- Dropdowns
    8- Navs
    9- Pagination
    10- Tooltips
    11- Modals
    12- Alerts
    13- Progress bars
    14- Breadcrumbs
*/



// =1.1 Grid breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

// =1.2 Grid containers
$container-max-widths: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

// =1.3 Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;







